## ex1 :
![img.png](img.png)

## ex2 :
![img_1.png](img_1.png)

## ex3 :

![img_2.png](img_2.png)

## ex4 :
![img_3.png](img_3.png)


## ex5 :
![img_4.png](img_4.png)

## ex6 :

![img_5.png](img_5.png)

## ex7 :

![img_6.png](img_6.png)

## ex8 :
![img_7.png](img_7.png)

## ex9 :
![img_8.png](img_8.png)


## Certification ID :
![img_9.png](img_9.png)

### : www.testdome.com/certificates/ed168e26f58c424e9107ae6384535025
